# Feature Extraction

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
Stopword = ['همچنان', 'مدت', 'چیز', 'سایر', 'جا', 'طی', 'کل', 'کنونی', 'بیرون','های', 'مثلا', 'کامل','ها', 'کاملا','گیرد','شود','است', 'آنکه', 
            'موارد', 'واقعی', 'امور', 'اکنون', 'بطور', 'بخشی', 'تحت', 'چگونه', 'عدم', 'نوعی', 'حاضر', 'وضع', 'مقابل', 'کنار', 'خویش', 'نگاه', 'درون',
            'زمانی', 'بنابراین', 'تو', 'خیلی', 'بزرگ', 'خودش', 'جز', 'اینجا', 'مختلف', 'توسط', 'نوع', 'همچنین', 'آنجا', 'قبل', 'جناح', 'اینها', 'طور', 'شاید',
            'ایشان', 'جهت', 'طریق', 'مانند', 'پیدا', 'ممکن', 'کسانی', 'جای', 'کسی', 'غیر', 'بی', 'قابل', 'درباره', 'جدید', 'وقتی', 'اخیر', 'چرا', 'بیش',
            'روی', 'طرف', 'جریان', 'زیر', 'آنچه', 'البته', 'فقط', 'چیزی', 'چون', 'برابر', 'هنوز', 'بخش', 'زمینه', 'بین', 'بدون', 'استفاد', 'همان', 'نشان',
            'بسیاری', 'بعد', 'عمل', 'روز', 'اعلام', 'چند', 'آنان', 'بلکه', 'امروز', 'تمام', 'بیشتر', 'آیا', 'برخی', 'علیه', 'دیگری', 'ویژه', 'گذشته', 'انجام',
            'حتی', 'داده', 'راه', 'سوی', 'ولی', 'زمان', 'حال', 'تنها', 'بسیار', 'یعنی', 'عنوان', 'همین', 'هبچ', 'پیش', 'وی', 'یکی', 'اینکه', 'وجود'
            , 'شما', 'پس', 'چنین', 'میان', 'مورد', 'چه', 'اگر', 'همه', 'نه', 'دیگر', 'آنها', 'باید', 'هر', 'او', 'ما', 'من', 'تا', 'نیز', 'اما', 
            'یک', 'خود', 'بر', 'یا', 'هم','ای', 'را','دارد', 'این',"می", 'با','دارد','،',',','.', 'آن', 'برای', 'و', 'در', 'به', 'که', 'از']

## Bag-of-Words(BoW)

In [9]:
sentence_1="تهران پایتخت کشور تهران ایران است"
sentence_2="تهران با نقاط دیدنی بسیاری در مرکز ایران قرار گرفته است "
sentence_3="رئیسی: اجرای آزمایشی مدیریت هوشمند کرونا در  استان تهران آغاز شود "

CountVec = CountVectorizer(ngram_range=(1,3),stop_words=Stopword,min_df= 1,max_df=.7)

Count_data = CountVec.fit_transform([sentence_1,sentence_2,sentence_3])
 
#create dataframe
cv_dataframe=pd.DataFrame(Count_data.toarray(),columns=CountVec.get_feature_names())
cv_dataframe

,آزمایشی,آزمایشی مدیریت,آزمایشی مدیریت هوشمند,آغاز,اجرای,اجرای آزمایشی,اجرای آزمایشی مدیریت,استان,استان تهران,استان تهران آغاز,...,پایتخت,پایتخت کشور,پایتخت کشور تهران,کرونا,کرونا استان,کرونا استان تهران,کشور,کشور تهران,کشور تهران ایران,گرفته
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,0,0,1,1,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,1,1,1,1,1,1,1,1,1,1,...,0,0,0,1,1,1,0,0,0,0

## TF-IDF

In [10]:
sentence_1="تهران پایتخت کشور تهران ایران است"
sentence_2="تهران با نقاط دیدنی بسیاری در مرکز ایران قرار گرفته است "
sentence_3="رئیسی: اجرای آزمایشی مدیریت هوشمند کرونا در یکی از استان‌ها آغاز شود ایران"
 
#without smooth IDF
print("Without Smoothing:")
#define tf-idf
tf_idf_vec = TfidfVectorizer(use_idf=True, 
                        smooth_idf=False,  
                        ngram_range=(1,1),stop_words=Stopword,min_df= 1,max_df=.7) 
#transform
tf_idf_data = tf_idf_vec.fit_transform([sentence_1,sentence_2,sentence_3])
 
#create dataframe
tf_idf_dataframe=pd.DataFrame(tf_idf_data.toarray(),columns=tf_idf_vec.get_feature_names())
tf_idf_dataframe

Without Smoothing:

,آزمایشی,آغاز,اجرای,استان,تهران,دیدنی,رئیسی,قرار,مدیریت,مرکز,نقاط,هوشمند,پایتخت,کرونا,کشور,گرفته
0,0.000000,0.000000,0.000000,0.000000,0.687648,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.513391,0.000000,0.513391,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.286912,0.428411,0.000000,0.428411,0.000000,0.428411,0.428411,0.000000,0.000000,0.000000,0.000000,0.428411
2,0.353553,0.353553,0.353553,0.353553,0.000000,0.000000,0.353553,0.000000,0.353553,0.000000,0.000000,0.353553,0.000000,0.353553,0.000000,0.000000

In [11]:
#with smooth
tf_idf_vec_smooth = TfidfVectorizer(use_idf=True,  
                        smooth_idf=True,  
                        ngram_range=(1,1),stop_words=Stopword)
 
 
tf_idf_data_smooth = tf_idf_vec_smooth.fit_transform([sentence_1,sentence_2])
 
print("With Smoothing:")
tf_idf_dataframe_smooth=pd.DataFrame(tf_idf_data_smooth.toarray(),columns=tf_idf_vec_smooth.get_feature_names())
tf_idf_dataframe_smooth

With Smoothing:

,ایران,تهران,دیدنی,قرار,مرکز,نقاط,پایتخت,کشور,گرفته
0,0.334251,0.668501,0.000000,0.000000,0.000000,0.000000,0.469778,0.469778,0.000000
1,0.290170,0.290170,0.407824,0.407824,0.407824,0.407824,0.000000,0.000000,0.407824

In [12]:
train_texts = ['apple mango', 'mango banana']
test_texts = ['apple banana', 'mango orange']
vocab = ['apple', 'mango', 'banana', 'orange']

vectorizer1 = TfidfVectorizer(smooth_idf=True, vocabulary=vocab).fit(train_texts)
print(vectorizer1.transform(test_texts).todense()) # works okay
print("\n"*5)

vectorizer2 = TfidfVectorizer(smooth_idf=False, vocabulary=vocab).fit(train_texts)
print(vectorizer2.transform(test_texts).todense()) # raises a ValueError

[[0.70710678 0.         0.70710678 0.        ]
 [0.         0.43016528 0.         0.90275015]]

C:\Anaconda3\lib\site-packages\sklearn\feature_extraction\text.py:1247: RuntimeWarning: divide by zero encountered in true_divide
  idf = np.log(n_samples / df) + 1

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').